In [16]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import warnings
warnings.filterwarnings("ignore")


# Read in the data
# ============================================================

dataset = pd.read_csv('Data.csv')

In [17]:
dataset

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [18]:
X = dataset.iloc[:, [0, 1, 2]].values
y = dataset.iloc[:, 3].values
X[:, [0, 1, 2]]

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, nan],
       ['France', 35.0, 58000.0],
       ['Spain', nan, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [19]:
# Replace missing values
# =========================================================
X = dataset.iloc[:, [0, 1, 2]].values
y = dataset.iloc[:, 3].values

from sklearn.preprocessing import Imputer

imp = Imputer(missing_values='NaN', strategy='median', axis=0)
X[:, [1, 2]] = imp.fit_transform(X[:, [1, 2]])

In [20]:
# Encode categorical data to numeric data
# =========================================================
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

le_X0 = LabelEncoder()
X[:, 0] = le_X0.fit_transform(X[:, 0])

ohe = OneHotEncoder(categorical_features=[0])
X = ohe.fit_transform(X).toarray()

le_y = LabelEncoder()
y = le_y.fit_transform(y)

In [21]:
# Split the data into train and test
# =========================================================
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state=42)

In [22]:
# Feature Scalling - Normalization vs Standardization
# =========================================================

# Standardization: (x - mean(x))/std_dev(x)
# Normalization: (x - min(x))/(max(x) - min(x))

from sklearn.preprocessing import Normalizer

data = [2009, 6799, 3488, 5712]
n = Normalizer()
n.fit_transform(data)


from sklearn.preprocessing import StandardScaler
s = StandardScaler()
s.fit_transform(data)

array([-1.33334793,  1.22851994, -0.54232443,  0.64715243])

In [23]:
sc_X = StandardScaler()

X_train = sc_X.fit_transform(X_train)
X_test = sc_X.transform(X_test)

In [26]:
X_train

array([[ 1.        , -0.57735027, -0.57735027, -0.73279795, -0.58321184],
       [ 1.        , -0.57735027, -0.57735027,  1.02591713,  1.04978132],
       [ 1.        , -0.57735027, -0.57735027,  1.80756828,  1.8662779 ],
       [-1.        ,  1.73205081, -0.57735027, -1.70986189, -1.04978132],
       [ 1.        , -0.57735027, -0.57735027, -0.34197238,  0.46656947],
       [-1.        ,  1.73205081, -0.57735027,  0.24426598, -0.23328474],
       [-1.        , -0.57735027,  1.73205081, -0.14655959, -0.23328474],
       [-1.        , -0.57735027,  1.73205081, -0.14655959, -1.28306606]])